# Android/Gradle
.gradle/
build/
**/build/
captures/
.externalNativeBuild/
.cxx/
local.properties
.gradle/
**/*.iml
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Keystores (no subir tu clave de firma)
*.jks
*.keystore
**/keystore.properties

# Logs y temporales
*.log
*.tmp
*.temp

# NDK / Native
obj/

# Firebase/Google (opcional según tu política)
# Si tu app usa Firebase, normalmente se COMITEA google-services.json para compilar.
# Si preferís no publicarlo, descomentá la línea siguiente:
app/google-services.json

# Fastlane, etc.
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# IDE varias
.idea/